 {{define "title" }}Home{{end}} {{define "style"}}
<!-- <link rel="stylesheet" href="/static/css/home.css"> -->
<style>
    body {
        background-color: lightblue;
    }

    h1 {
        color: navy;
        margin-left: 20px;
    }
</style>
{{end}} {{define "content"}}


<div class="row">

    <div class="col-2">
        <div class="card border-light text-white bg-secondary ">
            <div class="card-header">
                <i class="material-icons">room</i> Rooms <span class="badge badge-secondary">
                            1 </span>
            </div>
            <div class="card-body">
                <h4 class="card-title">房间:</h4>

                <ul class="list-group" id="rooms">
                    <li class="list-group-item list-group-item-info">
                        user &nbsp;
                        <span v-if="userIsTyping(user)">
                                        <i  class="material-icons">create </i>...
                                </span>

                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div class="col-8">
        <div class="card text-white bg-secondary " style="">
            <div class="card-header">
                <i class="material-icons">chat </i> Let's chat
            </div>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">
                    
                </p>

                <ul id="messageBox" class="list-unstyled" style="max-height:400px;overflow:auto;">
                    <li class="media">

                        <div v-if="message.type == 'info' " class="info">
                            <i class="material-icons">notifications</i>
                            <div class="d-inline-block bg-warning">
                                message.msg
                            </div>

                            <i class="material-icons">event_note</i>

                        </div>


                        <div v-if="message.type == 'chat' " class="chat">

                            <i class="material-icons">chat</i>
                            <span class="bg-primary"> message.user  </span> message.timestamp
                            <div class="d-inline bg-success"> message.text </div>


                        </div>

                    </li>

                </ul>

                <hr style="color:blueviolet">
                <form id="chatForm" class="form-inline">
                    <div class="form-group mx-sm-3">
                        <label for="message" class="sr-only">输入</label>
                        <input id="message" name="message" type="text" class="form-control" placeholder="your message here!">
                    </div>
                    <button type="submit" class="btn btn-primary">send</button>
                </form>

            </div>
        </div>
    </div>


    <div class="col-2">
        <div class="card border-light text-white bg-secondary ">
            <div class="card-header">
                    <i class="material-icons">group</i> 房间用户 <span class="badge badge-secondary">
                                1 </span>
            </div>
            <div class="card-body">
                <h4 class="card-title"></h4>

                <ul class="list-group" id="usersInRoom">
                    <li class="list-group-item list-group-item-info">
                        user &nbsp;
                        <span v-if="userIsTyping(user)">
                                            <i  class="material-icons">create </i>...
                                    </span>

                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div id="log">

    </div>
</div>

{{end}} {{ define "js" }}
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>
<script>
    /**
     * @see http://www.cnblogs.com/handongyu/p/6258128.html
     */
    function genUid() {
        return new Date().getTime() + "" + Math.floor(Math.random() * 899 + 100);
    }


    // 服务端断线 重连
    var _username ;
    function getUser() {
        var name 
        name = _username || prompt("What's your name");

        // 如果取消了 继续递归调用自己 直到输入名称为止
        if (!name) {
            return getUser();
        } else {
            _username = name ; 
            return {
                userId: genUid(),
                username: name
            };
        }
    }


    //Will be adding CHATROOM LOGIC HERE
    //We have Server Side funtions, now we need to add client side functions
    var socket = io.connect({
        // path: '/', // 默认是/socket.io  坑爹了 @see https://socket.io/docs/client-api/#
        transports: ['websocket']
    });
    socket.on('connect', function () {
        socket.emit('addUser', getUser());
    });
    socket.on('addUser', function (response) {
        // socket.emit('addUser', prompt("What's your name"));

        console.log(response);
        /*
         var msg = {
             type: response.roomInfo,
             data: {
                 username: response.data.username
             }
         };
         */
        addUserToRoom(response.data);

    });
    socket.on("usersInRoom", function (resp) {
        console.log(resp);

        $("#usersInRoom").empty();

        $.each(resp, function (idx, user) {
            addUserToRoom(user);
        });
    });

    function addUserToRoom(user) {
        var $usersInRoom = $("#usersInRoom");
        /*
         */
        var $user = $("<li>")
            .addClass("list-group-item ")
            .html(user.username)
            .attr('id','u_'+user.userId); // 感觉还是用用户id标识用户比较好

        $usersInRoom.addClass('list-group-item-info')

        $usersInRoom.append($user);

    }
    function  removeUserFromRoom(user){
       $("li#u_"+user.userId).empty().remove();
    }

    // 监听用户离开
    socket.on("leaveRoom",function(data){
        console.log("用户离开房间啦！");
        console.log(data);
        removeUserFromRoom(data);
    });

    socket.on("message", function (message) {
        console.log(message);
        var $msg = $("<li>")
            .addClass("list-group-item ");

        $msg.addClass('list-group-item-info')

        if (message.type === 'sysinfo') {
            $msg.addClass('list-group-item-warning')
            $msg.html(message.data);
        }else{
            $msg.addClass('list-group-item-primary')
            $msg.html(message.data);  
        }

        $("#messageBox").append($msg);

    });

    socket.on('updateChat', function (username, data) {
        $('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
    });
    socket.on('updateRooms', function (roomInfo) {
        var rooms = roomInfo.rooms;
        var currentRoom = roomInfo.currentRoom;
        /*
        console.log([
            rooms,
            currentRoom
        ]) ;
        */
        $('#rooms').empty();
        $.each(rooms, function (key, value) {
            /*
             */
            var $room = $("<li>")
                .addClass("list-group-item ")
                .html("<span>"+value+"</span>")
                .data("room",value);

            if (value === currentRoom) {
                $room.addClass('list-group-item-warning')
            } else {
                $room.addClass('list-group-item-info')
                var $link = $("<a/>").attr({
                    href:"#",
                    class:"text-primary action-switchroom"
                })
                .text("进入房间");

                $room.append($link);
            }

            $("#rooms").append($room);

        });
    });

    function switchRoom(room) {
        socket.emit('switchRoom', room);
    }
    //when the page loads we need to do a few things
    $(function () {
        $("#chatForm").submit(function (e) {
            e.preventDefault();

            var $msgInput = $("#message");
            //send it to the server
            socket.emit('chatMessage', $msgInput.val());
            //clear the input box
            $msgInput.val('')
                .focus();

            return false;
        });

        $(document).on("click",'a.action-switchroom',function(e){
           
            var $li = $(this).closest('li');
            var room = $li.data('room') ;
            socket.emit('switchRoom', room);
        });

        /*
        //get sent data on click
        $('#datasend').click(function () {
            var message = $('#data').val();
            //clear the input box
            $('#data').val('');
            $('#data').focus();
            //send it to the server
            socket.emit('sendChat', message);
        });
        //allow the client to use enter key
        $('#data').keypress(function (e) {
            if (e.which == 13) {
                $(this).blur();
                //select the send box
                $('#datasend').focus().click();
                //Select the input box
                $('#data').focus();
            }
        });
        */
    });
</script>
</script>
{{ end }}